#submitter{
    margin-top: 180px;
    margin-left: 520px;
    font-size: 25px;
    font-family: arial;
}
#result{
    margin-left: 538px;
    text-align: center;
    font-size: 30px;
    font-family: arial;
}